<section class="flex flex-col">
  <h2>My Heroes</h2>
  <div class="flex items-center gap-2 self-center">
    <mat-form-field appearance="fill">
      <mat-label>Hero name:</mat-label>
      <input matInput #heroName />
    </mat-form-field>
    <button
      (click)="add(heroName.value); heroName.value = ''"
      type="button"
      mat-raised-button
      color="primary"
    >
      Add hero
    </button>
    <mat-spinner *ngIf="isAddHeroLoading$ | async"></mat-spinner>
    <h3 class="text-red-600" *ngIf="errorAddHero$ | async as error">
      {{ error }}
    </h3>
  </div>
  <div>
    <div
      *ngIf="isHeroesLoading$ | async; else heroListContainer"
      class="flex animate-pulse flex-col gap-2 rounded-md border border-custom-purple p-4 shadow"
    >
      <div class="h-8 rounded bg-slate-200"></div>
      <div class="h-8 rounded bg-slate-200"></div>
      <div class="h-8 rounded bg-slate-200"></div>
      <div class="h-8 rounded bg-slate-200"></div>
      <div class="h-8 rounded bg-slate-200"></div>
    </div>
  </div>
  <h3 class="text-red-600" *ngIf="errorHeroesLoading$ | async as error">
    {{ error }}
  </h3>
  <ng-template #heroListContainer let-user>
    <div class="flex flex-col gap-2">
      <mat-card
        class="overflow-hidden"
        style="padding: 0 0.5rem 0 0; display: flex"
        *ngFor="let hero of heroes$ | async"
        ><a class="flex flex-1 items-center" routerLink="/detail/{{ hero.id }}">
          <span class="inline-block bg-custom-purple p-2 text-white">{{
            hero.id
          }}</span>
          <span class="grid h-full w-full flex-1 place-items-center">{{
            hero.name
          }}</span>
        </a>
        <button
          class="grid place-content-center"
          type="button"
          title="delete hero"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="delete icon"
            fontIcon="close"
          ></mat-icon></button
      ></mat-card>
    </div>
  </ng-template>
</section>
