<mat-list
  *ngIf="messageService.messages.length"
  role="list"
  class="log-messages"
>
  <div class="log-messages__container">
    <h2>Messages</h2>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="messageService.clear()"
    >
      Clear messages
    </button>
    <div class="log-messages__message-container">
      <mat-list-item
        role="listitem"
        class="log-messages__message"
        style="height: auto; padding-top: 1rem; padding-bottom: 1rem"
        *ngFor="let message of messageService.messages"
        >{{ message }}</mat-list-item
      >
    </div>
  </div>
</mat-list>
