<mat-toolbar color="primary" class="relative z-30">
  <mat-toolbar-row class="relative gap-4">
    <div class="flex h-full items-center gap-2">
      <div class="sm:hidden">
        <button
          (click)="isMenuActive = !isMenuActive"
          mat-icon-button
          aria-label="burguer icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span class="h-1/2 flex-none rounded-3xl bg-white"
        ><img src="assets/logo.png" alt="logo" class="h-full"
      /></span>
      <span class="text-base">{{ title }}</span>
    </div>
    <nav class="hidden gap-2 sm:flex">
      <a
        mat-button
        *ngFor="let navMenuItem of navMenuItems"
        class="py-2 text-base hover:bg-custom-color-1"
        routerLink="{{ navMenuItem.url }}"
        routerLinkActive="bg-custom-color-1"
        >{{ navMenuItem.text }}</a
      >
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<div class="absolute z-20 sm:hidden">
  <mat-nav-list
    [ngClass]="isMenuActive ? 'translate-x-0' : 'translate-x-[-100%]'"
    class="absolute left-0 top-full z-20 bg-white drop-shadow-2xl transition duration-150 ease-out"
  >
    <mat-list-item *ngFor="let navMenuItem of navMenuItems">
      <a
        matLine
        (click)="isMenuActive = false"
        routerLink="{{ navMenuItem.url }}"
        >{{ navMenuItem.text }}</a
      >
    </mat-list-item>
  </mat-nav-list>
  <div
    (click)="isMenuActive = false"
    [ngClass]="isMenuActive ? 'block ' : 'hidden'"
    class="overlay fixed inset-0 bg-custom-color-1"
  ></div>
</div>
