<section class="heroes">
  <h2>My Heroes</h2>
  <div class="heroes__new-hero-container">
    <mat-form-field appearance="fill">
      <mat-label>Hero name:</mat-label>
      <input matInput #heroName />
    </mat-form-field>
    <button
      type="button"
      (click)="add(heroName.value); heroName.value = ''"
      mat-raised-button
      color="primary"
    >
      Add hero
    </button>
  </div>
  <div class="heroes__list">
    <mat-card
      class="hero-card"
      style="padding: 0 0.5rem 0 0; display: flex"
      *ngFor="let hero of heroes"
      ><a class="hero-card__link" routerLink="/detail/{{ hero.id }}">
        <span class="hero-card__id-text">{{ hero.id }}</span>
        <span class="hero-card__name-text">{{ hero.name }}</span>
      </a>
      <button
        class="hero-card__close-action"
        type="button"
        title="delete hero"
        (click)="delete(hero)"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="delete icon"
          fontIcon="close"
        ></mat-icon></button
    ></mat-card>
  </div>
</section>
