<div id="search-component" class="hero-search">
  <mat-form-field appearance="fill">
    <mat-label>Hero Search</mat-label>
    <input #searchBox matInput (input)="search(searchBox.value)" />
  </mat-form-field>
  <div #serachListContainer>
    <mat-list role="list" class="hero-search__search-results">
      <mat-list-item
        class="hero-search__single-result-container"
        role="listitem"
        *ngFor="let hero of heroes$ | async"
        ><a
          class="hero-search__single-result-link"
          routerLink="/detail/{{ hero.id }}"
        >
          {{ hero.name }}
        </a></mat-list-item
      >
    </mat-list>
  </div>
</div>
